# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
dist-panel/
dist-server/
build/
release/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor + OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?

# Testing
coverage/

# Env
.env
.env.local
.env.*.local

# Caches
.cache/
.temp/
.tmp/
